<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>手写字体识别</title>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/css/index.css" />
    </head>

    <body>
        <div class="top_div">
            <div class="canvas_top">
                <h3>手写字体识别</h3>
                <canvas id="canvas_image" class="canvas_image"></canvas>
            </div>
            <div class="buttons">
                <button class="btn" onclick="clearCanvas()">清空画板</button>
                <button class="btn" onclick="sendImage()">开始识别</button>
            </div>
            <div class="result">
                <h3>识别结果</h3>
                <div id="result_content" class="result_content">
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="../static/js/index.js"></script>
</html>