<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登陆</title>
        <link rel="stylesheet" href="./static/css/login.css" />
    </head>
    <body>
        <div class="login_panel">
            <form action="/" method="post" enctype="multipart/form-data">
                <label class="login_label">用户名</label>
                <input class="login_input" type="text" name="username">
                <br>
                <label class="login_label">密码</label>
                <input class="login_input" type="password" name="password">
                <br>
                <select class="login_select" name="select">
                    <option value="anchor">主播</option>
                    <option value="audience">观众</option>
                </select>
                <br>
                <input class="login_submit" value="登陆" type="submit">
            </form>
        </div>
    </body>
</html>